section {
    // background-color: #363636;
    color: #504f4f;
    min-width: 80%;
    max-width: 90%;
}
.code-output {
    width: 100%;
    overflow: 'auto';
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #e90a0a;
}